<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OnePassRelay-Server</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>OnePassRelayService</display-name>
    <servlet-name>OnePassRelayService</servlet-name>
    <servlet-class>com.raonsecure.op.relay.OnePassRelayService</servlet-class>    
    <init-param>
         <param-name>serverUrl</param-name><param-value>https://onepassdemo.raonsecure.co.kr:9300/interfBiz/processRequest.do</param-value>
   	</init-param>
   	<init-param>
         <param-name>serviceId</param-name><param-value>HC0000000000</param-value>
   	</init-param>
   	<init-param>
         <param-name>siteId</param-name><param-value>TEST0000000000</param-value>
   	</init-param>
   	<init-param>
         <param-name>maxPool</param-name><param-value>100</param-value>
   	</init-param>
   	<init-param>
         <param-name>LoggerType</param-name><param-value>FILE</param-value>
   	</init-param>
   	<init-param>
         <param-name>LoggerLevel</param-name><param-value>DEBUG</param-value>
   	</init-param>
   	<init-param>
         <param-name>LoggerPath</param-name><param-value>D:\workspace\git\onepass-relay\logs</param-value>
   	</init-param>
   	<init-param>
         <param-name>LoggerFile</param-name><param-value>onepass_relay</param-value>
   	</init-param>
   	<init-param>
         <param-name>LoggerConfig</param-name><param-value>D:/workspace/git/onepass-relay/onepass-relay-server/src/main/resources/logback.xml</param-value>
   	</init-param>
   	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>OnePassRelayService</servlet-name>
    <url-pattern>/OnePassRelayService/*</url-pattern>
  </servlet-mapping>
</web-app>